*.class
*.log
.idea/
.bsp/
target/
project/target
.DS_Store

xmlOutput.xml
/xmlOutput.kml

miniSampleOutput.kml

sampleOutput.kml
/KML_Samples_output.kml

*_out.kml

work

# Prevent an embedded clone of this repository from becoming an accidental gitlink again.
/XmlDoc/

doc/Lindholm.pdf
.DS_Store
